@{
    ViewBag.Title = "Página Principal";
}

<div class="row"><label>&nbsp; </label></div>
<h1 style="text-align: center">Seleccione una opción</h1>
<div class="row"><label>&nbsp; </label></div>

<div class="row"><label>&nbsp; </label></div>
<div class="row"><label>&nbsp; </label></div>
<div class="row"><label>&nbsp; </label></div>
<div class="row"><label>&nbsp; </label></div>


<div class="row">
    <div class="form-group col-md-3"><label>&nbsp; </label></div>
    <div class="form-group col-md-5">
        <a id="ImagenCotizacion" href="\Cotizaciones">
            <img src="~/Content/cotizacion_negro.png" width="115" height="115" class="img1" />
        </a>

    </div>
    <div class="form-group col-md-4">
        <a id="ImagenCotizacion" href="#">
            <img src="~/Content/factura_negro.png" width="100" height="100" class="img2"  />
        </a>

    </div>

</div>
<div class="row">
    <div class="form-group col-md-3"><label>&nbsp; </label></div>
    <div class="form-group col-md-5">
        <label>Cotizaciones</label>

    </div>
    <div class="form-group col-md-4">
        <label>&nbsp;&nbsp;&nbsp;&nbsp;Facturación</label>

    </div>

</div>

<div class="row"><label>&nbsp; </label></div>
<div class="row"><label>&nbsp; </label></div>
<div class="row"><label>&nbsp; </label></div>
<div class="row"><label>&nbsp; </label></div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/JSPortada.js"></script>


}
